<% include header %>
<div>
<div style="background-image:url('/img/head.jpg');padding-bottom:200px;padding-top:100px" class="jumbotron">
    <h1>Car Location</h1>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                Search
            </h1>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <form method="get" action="/search">
                    <div class="form-group">
                        <label for="id">Car ID</label>
                        <input class="form-control" name="id" placeholder="Enter Car ID">
                    </div>
                    <div class="form-group">
                        <label for="time1">Start Time</label>
                        <input class="form-control" type="date" name="time1" placeholder="Enter Start Time">
                    </div>
                    <div class="form-group">
                        <label for="time2">End Time</label>
                        <input class="form-control" type="date" name="time2" placeholder="Enter End Time">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div id="controller" align="center">
<input id="follow" type="checkbox"><span style="font-size:12px;">画面跟随</span></input>
<input id="play" type="button" value="播放" onclick="play();" disabled />
<input id="pause" type="button" value="暂停" onclick="pause();" disabled />
<input id="reset" type="button" value="重置" onclick="reset()" disabled />
</div>
<div id="container"></div>
<% include footer %>
