<% include header %>
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" ><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="/user/login">Log in</a></li>
    <li role="presentaiton" ><a href="#">Sign up</a></li>
    <li role="presentaiton" ><a href="#">Log out</a></li>
  </ul>
</div>
<div id="login-img" class="jumbotron">
<div class="container">
  <h1>Login</h1>
  <form>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="psw" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>
